header{
  text-align: center;

}
footer{
  text-align: center;
  color: #f6b6b0;


}
body{
  font-family: Trebuchet;
  background-color: #b72f14;
  text-align: center;
  font-stretch: expanded;


}

h1, h2, h3, h4, h5{
  color: #f6b6b0;
  background-color: #b72f14;
  font-family: Trebuchet;
  text-decoration: underline;
  text-shadow: 2px 2px #ff0000;
  text-decoration-color: #fbdad8;
  text-decoration-style: wavy;
  letter-spacing: 2px;

}
a{
  color:#f29a89;
  font-size: 125%;
}
.table{
  columns: 2;
}
